h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "oxygen", sans-serif;
}
p,
span {
  font-family: "lato", sans-serif;
}
.head_test h1{
    font-size: 3.4rem;
    font-weight: 700;
    color: rgba(114, 114, 21, 0.453);
}
/* .payment{
    display: none;
}
form #cheak2{
    padding: 19rem;
    display: none;
} */